* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Barra de Navegacion */

.div-nav {
    background-color: dimgray;  
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cadetblue;
    text-decoration: underline;

}

/****************/

.form-comments {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.form-comments h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 1opx;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c;
}

h2 {
    text-align: center;
}

section {
    background-color: azure;
    padding: 10px;
    color: red;
}

.div {
    text-align: center;
    padding: 10px;
}

.div2 {
    text-align: right;
    padding: 10px;
    background-color: beige;
}

.div3 {
    padding: 10px;
    background-color: honeydew;
}

.div4 {
    padding: 10px;
    background-color: darkgrey;
}

.banner {
    width: 100%;
}



h1 {
    color: blue;
}

ul li {
    display: inline-block;
    padding: 0px 15px;
}



.title-form {
    text-align: center;
}

/* INDEX.html*/

.imagen {
    width: 300px;
    padding: 5px;
}

.container {
    width: 300px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}